<div class="education">
  <h2>honours and awards</h2>
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        <tr>
          <th scope="row">Apr. 2023 — Mar. 2026</th>
          <td><b>Grants-in-Aid for Scientific Research (KAKENHI) – Early-Career Scientists</b> No. 23K16912, "User-centric Audio-Visual Scene Understanding for Augmented Reality Smart Glasses in the Wild", from Japan Society for the Promotion of Science (JSPS)</td>
        </tr>
        <tr>
          <th scope="row">Apr. 2020 — Mar. 2023</th>
          <td><b>Grants-in-Aid for Scientific Research (KAKENHI) – Early-Career Scientists</b> No. 20K19833, "A Unified Computational Model for Audio-Visual Recognition of Human Social Interaction", from Japan Society for the Promotion of Science (JSPS)</td>
        </tr>
        <tr>
          <th scope="row">Jan. 2015 — Dec. 2017</th>
          <td><b>CORDI Grant</b> from Inria (the French National Institute for Research in Computer Science and Automation)</td>
        </tr>
        <tr>
          <th scope="row">Oct. 2011 — Sep. 2013</th>
          <td><b>Monbukagakusho Scholarship</b> from Ministry of Education, Culture, Sports, Science and Technology (MEXT), The Government of Japan</td>
        </tr>
        <tr>
          <th scope="row">Jan. 2010 — Jun. 2011</th>
          <td><b>Beasiswa Unggulan (Excellence Scholarship)</b> from Ministry of Education and Culture, The Republic of Indonesia</td>
        </tr>
      </table>
    </div>
</div>
