<div class="education">
  <h2>education</h2>
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        <tr>
          <th scope="row">2015 — 2017 🎓︁</th>
          <td><b>Dr. in Informatics</b>, University of Lorraine (Villers-lès-Nancy, France)</td>
        </tr>
        <tr>
          <th scope="row">2011 — 2013 🎓︁</th>
          <td><b>M.Eng. in Computer Science and Engineering</b>, Toyohashi University of Technology (Toyohashi, Japan)</td>
        </tr>
        <tr>
          <th scope="row">2010 — 2011 🎓︁</th>
          <td><b>M.Sc. in Electrical Engineering</b>, Institut Teknologi Bandung (Bandung, Indonesia)</td>
        </tr>
        <tr>
          <th scope="row">2004 — 2008 🎓︁</th>
          <td><b>B.Sc. in Electrical Engineering</b>, Institut Teknologi Bandung (Bandung, Indonesia)</td>
        </tr>
      </table>
    </div>
</div>
