<div class="education">
  <h2>work experience</h2>
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        <tr>
          <th scope="row">Apr. 2022 — now</th>
          <td><b>Research scientist (研究員)</b> @ RIKEN (Tokyo, Japan)</td>
        </tr>
        <tr>
          <th scope="row">Jun. 2018 — Mar. 2022</th>
          <td><b>Postdoctoral researcher (特別研究員)</b> @ RIKEN (Tokyo, Japan)</td>
        </tr>
        <tr>
          <th scope="row">Jun. 2018 — now</th>
          <td><b>Visiting researcher (客員研究員)</b> @ Kyoto University (Kyoto, Japan)</td>
        </tr>
        <tr>
          <th scope="row">Mar. 2018 — Apr. 2018</th>
          <td><b>Research engineer</b> @ Inria (Villers-lès-Nancy, France) </td>
        </tr>
        <tr>
          <th scope="row">Feb. 2016 — Apr. 2016</th>
          <td><b>Intern</b> @ National Institute of Informatics (Tokyo, Japan)</td>
        </tr>
        <tr>
          <th scope="row">Jan. 2015 — Dec. 2017</th>
          <td><b>Ph.D. student</b> @ Inria (Villers-lès-Nancy, France) </td>
        </tr>
        <tr>
          <th scope="row">Oct. 2013 — Dec. 2014</th>
          <td><b>Freelance programmer</b></td>
        </tr>
        <tr>
          <th scope="row">Jul. 2009 — Jul. 2011</th>
          <td><b>Research assistant/engineer</b> @ Institut Teknologi Bandung (Bandung, Indonesia)</td>
        </tr>
        <tr>
          <th scope="row">Jun. 2007 — Aug. 2007</th>
          <td><b>Intern</b> @ PT. Aplikanusa Lintasarta (Jakarta, Indonesia)</td>
        </tr>
      </table>
    </div>
</div>
